﻿<form method="post" action="TableInfoKnockOut">
    <table>
        <thead>
            <tr>
                <td>Inserte Su Nombre</td>
                <td>Info servidor</td>
                <td>Mayor Edad(18)</td>
                <td>Sexo Actual</td>
                <td>Titulos</td>
                <td>Breve Comentario</td>
                <td></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: Items">

            <tr>
                <td>
                    @*<input data-bind="value: name" name=Clients[0].Name placeholder="Su Nombre Aquí" />*@
                <input  data-bind="attr: { name: 'Clients[' + $index() + '].Name' , value :name }"   placeholder="Su Nombre Aquí" />
                
                </td>
               
                <td><input data-bind="attr: { name: 'Clients[' + $index() + '].HiddenData' }" type="hidden"  value="InformacionOculta">Hidden Data</td>
                <td>
                    <label>

                        <input data-bind="attr: { name: 'Clients[' + $index() + '].Adult'  }"  type="checkbox" class="filled-in"  value="true" />
                        <span>Soy Mayor</span>
                    </label>
                </td>
                <td>
                    <label>
                        <input data-bind="attr: { name: 'Clients[' + $index() + '].Sex' , value :sex }"  type="radio" value="Masculino" />
                        <span>Masculino</span>
                    </label>
                    <label>
                        <input data-bind="attr: { name: 'Clients[' + $index() + '].Sex' , value :sex }"  type="radio" value="Femenino" />
                        <span>Femenino</span>
                    </label>
                </td>

                <td>
                    <select data-bind="options: $root.AvailableTitles, optionsText: 'TitleName' ,attr: { name: 'Clients[' + $index() + '].Title'}" value="title"  ></select>
                </td>
                <td><textarea data-bind="attr: { name: 'Clients[' + $index() + '].Description' , value :description }"  ></textarea></td>

                <td><a href="#" data-bind="click: $root.RemoveItem">Remove</a></td>
            </tr>
        </tbody>

    </table>
    <button data-bind="click: AddItem, enable: Items().length < 4">Agregar otro</button>

    <br />
    <br />

    <button type="submit">Enviar Datos al servidor</button>
</form>



<script>
    // Class to represent a row in the grid
    function RowItems(name, hiddendata, adult, sex, title, description) {
        var self = this;
        self.name = name;
        self.hiddendata = hiddendata;
        self.adult = adult;
        self.sex = sex;
        self.title = title;
        self.description = description;



    }

    // Overall viewmodel for this screen, along with initial state
    function Table1() {
        var self = this;

        // Non-editable catalog data - would come from the server
        self.AvailableTitles = [
            { TitleName: "Primaria" },
            { TitleName: "Secundaria" },
            { TitleName: "Terciaria" }
        ];

        // Editable data
        self.Items = ko.observableArray([
            new RowItems("", self.AvailableTitles[0])
        ]);
        

        // Operations
        self.AddItem = function () {
            self.Items.push(new RowItems("", self.AvailableTitles[0]));
            $('select').formSelect();
        }
        self.RemoveItem = function (Item) { self.Items.remove(Item) }
    }

    ko.applyBindings(new Table1());
</script>
