﻿<form method="post" action="TableInfo">
    <table>
        <tr>
            <td>Inserte Su Nombre</td>
            <td>Info servidor</td>
            <td>Mayor Edad(18)</td>
            <td>Sexo Actual</td>
            <td>Titulos</td>
            <td>Breve Comentario</td>

        </tr>

        <tr>

            <td><input type="text" name="Clients[0].Name" placeholder="Su Nombre Aquí"></td>
            <td><input type="hidden" name="Clients[0].HiddenData" value="InformacionOculta">Hidden Data</td>
            <td>
                <label>
                    <input type="checkbox" class="filled-in" name="Clients[0].Adult" value="true" />
                    <span>Soy Mayor</span>
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Clients[0].Sex" value="Masculino" />
                    <span>Masculino</span>
                </label>
                <label>
                    <input type="radio" name="Clients[0].Sex" value="Femenino" />
                    <span>Femenino</span>
                </label>
            </td>

            <td>
                <div class="input-field col s12">
                    <select name="Clients[0].Title">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Secundria">Secundria</option>
                        <option value="Universidad">Universidad</option>
                    </select>
                </div>
            </td>
            <td><textarea name="Clients[0].Description"></textarea></td>
        </tr>

        <tr>

            <td><input type="text" name="Clients[1].Name" placeholder="Su Nombre Aquí"></td>
            <td><input type="hidden" name="Clients[1].HiddenData" value="InformacionOculta">Hidden Data</td>
            <td>
                <label>
                    <input type="checkbox" class="filled-in" name="Clients[1].Adult" value="true" />
                    <span>Soy Mayor</span>
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Clients[1].Sex" value="Masculino" />
                    <span>Masculino</span>
                </label>
                <label>
                    <input type="radio" name="Clients[1].Sex" value="Femenino" />
                    <span>Femenino</span>
                </label>
            </td>

            <td>
                <div class="input-field col s12">
                    <select name="Clients[1].Title">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Secundria">Secundria</option>
                        <option value="Universidad">Universidad</option>
                    </select>
                </div>
            </td>
            <td><textarea name="Clients[1].Description"></textarea></td>
        </tr>

        <tr>

            <td><input type="text" name="Clients[2].Name" placeholder="Su Nombre Aquí"></td>
            <td><input type="hidden" name="Clients[2].HiddenData" value="InformacionOculta">Hidden Data</td>
            <td>
                <label>
                    <input type="checkbox" class="filled-in" name="Clients[2].Adult" value="true" />
                    <span>Soy Mayor</span>
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Clients[2].Sex" value="Masculino" />
                    <span>Masculino</span>
                </label>
                <label>
                    <input type="radio" name="Clients[2].Sex" value="Femenino" />
                    <span>Femenino</span>
                </label>
            </td>

            <td>
                <div class="input-field col s12">
                    <select name="Clients[2].Title">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Secundria">Secundria</option>
                        <option value="Universidad">Universidad</option>
                    </select>
                </div>
            </td>
            <td><textarea name="Clients[2].Description"></textarea></td>
        </tr>



    </table>

    <br />
    <input type="submit" value="Enviar datos" />
</form>